.register-container{
    width: 100%;
    height: auto;
    padding-bottom: 500px;
    padding-top: 500px;
    margin: 0;
    background: black;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
}

#black{
    top: 10px;
}

.register-container .noise {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background-image: url("../assets/images/other/noise.png");
    background-repeat: repeat-y;
    background-size: cover;
    opacity: 0.1;
    z-index: -2;
} 

.register-pretitle, .register-title, .days-mockup-image, .login-in-apk {
    background-color: transparent;
    position: relative;
}

.register-pretitle{
    font-family: PPNeueMachina-Regular;
    font-size: 1vw;
}

.register-title{
    font-family: PPNeueMachina-Regular;
    font-size: 7vw;
    color: #EAEAEA;
    position: relative;
    z-index: 1;
}

.days-mockup-image{
    background: none;
    width: 100%;
    max-width: 100%; 
    height: auto; 
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    object-fit: contain;
    top: 780px;
}

.login-in-apk {
    position: relative;
    font-family: NeueMontreal-Regular;
    font-size: 3em;
    margin-top: 60%;
    letter-spacing: 20px;
}