.location-section{
    width: 100%;
    background-color: #04544c;
    margin: 0;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.location-title-container{
    width: 100%;
    top: 100px;
    background-color: transparent;
    color: #EAEAEA;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-title{
    width: 100%;
    font-family: PPNeueMachina-Regular;
    font-weight: 500;
    font-size: 20vw;
    line-height: 341.49px;
    initial-letter-align: -11.92px;
    background-color: transparent;
    text-align: center;
}


.visual-date-container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.visual-date{
    font-family: PPNeueMachina-Regular;
    font-size: 13vw;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 70px;
    text-align: center;
    margin-top: 50px;

    position: relative;
    width: 100%;

    background-color: transparent;
    color: #FFFFFF;
    opacity: 0.2;

}


.location-back-mobile{
    display: none;
}

.location-mask-mobile {
    display: none;
    top: 30%;
}

.stamp-mobile {
    display: none;
}

@media (max-width: 767px) {
    .location-mask-desktop, .location-back-desktop {
        display: none;
    }

    .location-mask-mobile, .location-back-mobile {
        display: block;
        width: 100%;
        position: absolute;
    } 

    .location-back-mobile {
        margin-top: -200%; 
        width: 100%;
    }

    .stamp {
        margin-top: -50px;
        margin-bottom: 400px;
        scale: 1.4;
    }

    .location-title-container {
        margin-top: -150px;
        margin-bottom: -100px;
    }

    .location-text-container {
        flex-direction: column;
        margin: 0%;
        padding: 0%;
    }

    .center-location-paragraph{
        display: none;
    }
    
    .location-section .mobile-paragraph{
        font-size: 4vw; 
    }
    
    .fesb-group{
        position: absolute;
        top: 10%;
        left: 80%;
    }
    
    .location-section .gallery-room{
        font-size: 1.2rem;
        margin-top: -20px;
        margin-bottom: 40px;
    }

    .visual-date-container {
        margin-bottom: 60px;
    }

    .visual-date {
        font-size: 7em;
        letter-spacing: 10px;
    }

    .stamp-mobile {
        display: block;
        position: absolute;
        left: 43%;
    }

    .dotted-line-stamp {
        position: absolute;
        border-top: 2px dotted #1716154D;
        margin-top: -40px;
    }
}