.gallery-and-testimonials{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.gallery-backround, .gallery-arrow, .throwback, .gallery-title,.rewind-filter {
    background-color: transparent;
}

.gallery-backround {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#gallery-section-divider {
    position: absolute;
    left: -50%;
    top: 95%;
}

.backround-people{
    position: absolute;
    transform: translateY(-10%);
    width: 100%;
    object-fit: cover;
}

.rewind-filter{
    opacity: 30%;
    width: 100%;
    height: 100%;
}

.gallery-arrow {
    position: absolute;
    top: 50px;
    right: 100px;
    z-index: 10;
    scale: 1;
}

.gallery-title {
    position: absolute;
    font-family: PPNeueMachina-Regular;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7em;
    color: white;
    z-index: 2;
}

.throwback {
    position: absolute;
    font-family: NeueMontreal-Regular;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1em;
    color: white;
    z-index: 2;
}

@media (max-width: 767px) {
    .testimonial-container {
        flex-direction: column;
    }

    .testimonial-container .testimonial1 {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0;
    }

    .testimonial-container > .testimonial2{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0;
    }

    .testimonial-container > .testimonial3{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0;
    }

    .testimonial-container .testimonial2 .testimonial-comment-container,
    .testimonial-container .testimonial3 .testimonial-comment-container {
        max-width: 100%; 
        align-self: center;
        margin-left: 0%; 
        padding-bottom: 20px;
        text-align: left; 
        order: 1;
        border: none;
        border-bottom: 10px dotted #1716154D;
    }

    

    .testimonial-container .testimonial-comment-container {
        max-width: 100%; 
        align-self: center;
        margin-left: 0%; 
        padding-bottom: 20px;
        text-align: left; 
        order: 1;
        border: none;
        border-bottom: 10px dotted #1716154D;
    }

    .testimonial-container .testimonial-author-container {
        max-width: 100%; 
        align-items: center; 
        text-align: left; 
        left: -15%;
        order: 2;
    }

    .testimonial-author-container .author {
        font-size: 1.4rem; 
        margin-top: 50px;
    }

    #role {
        top: 0;
    }

    .test .test-author {
        font-size: 1.4rem; 
        margin-top: 50px;
    }

    .testimonial-container > .testimonial2,
    .testimonial-container > .testimonial3 {
        display: flex !important;
        flex-direction: column !important;
        height: auto !important;
        padding: 0 !important;
    }

    .testimonial-author-container .apostrof {
        top: 25%;
        left: 20%; 
    }
}
