.testimonial-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
}

.testimonial1, .testimonial2, .testimonial3 {
    position: relative;
    display: flex;
    padding: 40px;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: auto;
    z-index: 1;
    transition: transform 0.3s ease;
}

.testimonial1:hover, .testimonial2:hover, .testimonial3:hover {
    transform: translateY(-35%);
}

.testimonial1 {
    top: 0; 
    z-index: 1;
    background-color: white;
}

#testimonial1-divider {
    position: absolute;
    display: flex;
    z-index: 0;
    top: -70px;
    left: -100px;
    width: 120%;
}

.testimonial2 {
    top: -50px;
    z-index: 4;
    height: auto;
    padding: 50px;
    background-color: black;
}

#testimonial2-divider {
    position: absolute;
    display: flex;
    z-index: 2;
    top: -50px;
    left: -100px;
    width: 120%;
}

#testimonial3-divider {
    position: absolute;
    display: flex;
    z-index: 8;
    top: -60px;
    left: -100px;
    width: 120%;
    transform: rotate(1deg);
}

.testimonial3 {
    top: -110px;
    z-index: 7;
    background-color: #F5EDE1;
    height: auto;
}

#testimonial2-text-color {
    color: #FFFFFFB2;
    background-color: transparent;
}

.apostrof, .author, .author-container, .testimonial-author-container, .testimonial-comment-container, .comment {
    background-color: transparent;
}

.testimonial-author-container {
    display: flex;
    max-width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: auto;
    background-color: transparent;
}

.author-container {
    display: block;
}

.author {
    margin-top: 30px;
    font-size: 1.2rem;
    color: #17161599;
    text-align: left;
    font-family: NeueMontreal-Regular;
    font-weight: 600;
}

#role {
    position: relative;
    top: -10px;
}

.testimonial-comment-container {
    font-size: 1.5rem;
    max-width: 60%;
    margin-left: 200px;
    padding-left: 5%;
    text-align: left;
    color: #171615B2;
    font-family: PPNeueMachina-Regular;
    font-weight: 700;
    border-left: 10px dotted #1716154D;
}

.testimonial-comment-container::before {
    content: '';
    display: block;
}

.apostrof {
    scale: 2;
    position: absolute;
    top: -5%; 
    left: 0;
    width: 20px;
    z-index: 2;
}