.golden-sponsors{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 1000px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.golden-sponsor-medal{
    position: relative;
    background-color: transparent;
    width: 1vw;
    border-radius: 3.62px 0px 0px 0px;
    opacity: 0px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.golden-backround{
    position: absolute;
    scale: 0.8;
    top: -200px;
}

.DUMP-logo{
    position: absolute;
    scale: 6.2;
    top:  205px;
    margin-left: 50px;
    background-color: transparent;
}

.golden-sponsor-title{
    font-size: 1vw;
    background-color: transparent;
    margin-top: 700px;
    display: flex;
    text-align: center;

    font-family: NeueMontreal-Regular;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 1px;
    color: #17161599;

    white-space: nowrap;
}