.motivation-section {
    position: relative;
    top: 7400px;
    height: auto;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.motivation-pretitle {
    padding-top: 400px;
    font-family: NeueMontreal-Regular;
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.5;
    color: #17161599;
}

.motivation-title-container {
    width: 2535px;
    height: 144px;
}

.motivation-title {
    margin-top: 20px;
    font-family: PPNeueMachina-Ultrabold;
    font-size: 9rem;
    font-weight: 500;
    text-align: center;
    color: #FF482F;
}

.sponsor-logo-section {
    position: relative;
    height: auto;
    top: 7650px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12%, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
    background-color: transparent;
}

.sponsor-logo-animation {
    scale: 2.5;
    height: auto;
    animation: logoFade 5s ease-in-out infinite;
}

@keyframes logoFade {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
}

.sponsor-logo-animation:nth-child(1) {
    transform: translate(200px, 100px);
    animation-delay: 2;
}

.sponsor-logo-animation:nth-child(2) {
    transform: translate(700px, 250px);
    animation-delay: 7s;
}

.sponsor-logo-animation:nth-child(3) {
    transform: translate(40px, 500px);
    animation-delay: 2s;
}

.sponsor-logo-animation:nth-child(4) {
    transform: translate(700px, 170px);
    animation-delay: 6s;
}

.sponsor-logo-animation:nth-child(5) {
    transform: translate(700px, 600px);
    animation-delay: 4s;
}

.sponsor-logo-animation:nth-child(6) {
    transform: translate(-1560px, 350px);
    animation-delay: 5s;
}

.sponsor-logo-animation:nth-child(7) {
    transform: translate(200px, -50px);
    animation-delay: 1s;
}

.sponsor-logo-animation:nth-child(8) {
    transform: translate(-750px, 420px);
    animation-delay: 3s;
}

.sponsor-logo-animation:nth-child(9) {
    transform: translate(200px, 650px);
    animation-delay: 8s;
}
