.duck-section {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.duck-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  box-sizing: border-box;
}

.duck-column:last-child {
  padding-right: 14%;
}

.areas {
  width: 112px;
  font-family: NeueMontreal-Medium, sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  color: var(--black-color);
}

.duck-area {
  position: relative;
  height: 814px;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  margin-top: 100px;
}

.duck-area img {
  position: sticky;
  width: 80%;
  max-width: 476px;
  max-height: 580px;
  top: 0;
}

.duck-column p {
  font-family: PPNeueMachina-Regular, sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1px;
  color: var(--grey-color);
}

.stats {
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
}

.stats * {
  display: flex;
  flex-direction: column;
}

.stats-number {
  font-family: PPNeueMachina-Regular, sans-serif;
  font-size: 100px;
  line-height: 100px;
  font-weight: bold;
  letter-spacing: -5px;
  color: var(--orange-color);
}

.stats-label {
  margin-top: 30px;
  font-family: NeueMontreal-Medium, sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
  color: var(--black-color);
}

@media screen and (max-width: 1439px) {
  .stats {
    gap: 50px;
  }

  .duck-column p {
    font-size: 20px;
  }

  .stats-number {
    font-size: 80px;
  }
}

@media screen and (max-width: 1023px) {
  .duck-column:last-child {
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .duck-section {
    flex-direction: column;
    padding: 20px;
    overflow-x: hidden;
  }

  .duck-column {
    width: 100%;
  }

  .duck-area {
    position: absolute;
    width: 347px;
    height: 423px;
    transform: rotate(11deg);
    margin-top: 0;
    top: 520px;
    left: 150px;
  }

  .duck-area img {
    position: relative;
    width: 347px;
    height: 423px;
  }

  .areas {
    width: 169px;
    margin-bottom: 80px;
  }

  .duck-column p {
    font-family: PPNeueMachina-Regular, sans-serif;
    font-size: 18px;
    line-height: 26px;
  }

  .stats {
    margin-top: 80px;
    row-gap: 100px;
    column-gap: 80px;
    margin-bottom: 250px;
  }

  .stats-number {
    font-size: 72px;
    line-height: 72px;
  }
}

@media screen and (min-width:565px) and (max-width:767px){
  .stats {
    width: 65%;
  }

  .duck-area {
    position: absolute;
    width: 347px;
    height: 423px;
    transform: rotate(11deg);
    margin-top: 0;
    top: 450px;
    left: 150px;
  }
  
}

@media screen and (max-width: 374px){
    .stats {
        column-gap: 30px;
    }

    .duck-area {
        top: 600px;
    }

}
