header {
  position: relative;
  overflow: hidden;
  margin: 32px;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-image: url("../assets/images/header/Hero\ background.jpg");
  background-size: cover;

  font-family: NeueMontreal-Medium, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1px;
  color: white;
}

.top-bar {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  width: calc(100% - 2 * 32px);
  top: 32px;
  left: 32px;
  padding: 24px;

  z-index: 100;
}

.hamburger {
  display: none;
  height: 40px;
  width: 40px;
}

.hamburger input[type="checkbox"] {
  display: none;
}

.hamburger-icon {
  cursor: pointer;
}

.hamburger-icon img {
  height: 40px;
  width: 40px;
}

.top-bar p:is(:nth-child(2)) {
  text-align: center;
}

.top-bar button,
.mobile-menu-register-button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 14px 16px;
  background: #eaeaea;
  font-family: NeueMontreal-Medium, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1px;
  color: black;
}

.top-bar button:hover,
.mobile-menu-register-button:hover {
  background-color: black;
  color: white;
}

.hero {
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  align-items: flex-end;
}

.menu {
  position: absolute;
  width: 100%;
  padding: 24px;

  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  z-index: 99;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.scroll-container {
  display: flex;
  align-items: center;
  gap: 40px;

  animation: scroll-loop 40s linear infinite;
  white-space: nowrap;
  position: relative;
  height: 75vh;
}

.role-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
}

.role-image h1 {
  font-family: PPNeueMachina-Regular;
  z-index: 2;
  font-size: 120px;
  line-height: 144px;
  letter-spacing: -5.024630546569824px;
  text-align: center;
  position: relative;
}

.role-image img {
  position: absolute;

  z-index: 1;
  height: 75vh;
  object-fit: cover;
}

.days-sticker {
  width: 118.38px;
  height: 142.75px;
}

.mobile-menu-register-button {
  position: absolute;
  width: calc(100% - 2 * 16px);
  text-align: center;
  bottom: 110px;
  left: 16px;
  padding: 20px 48px;
  line-height: 14px;
  display: none;
}

.mobile-menu-bottom-text {
  width: calc(100% - 2 * 16px);
  position: absolute;
  text-align: center;
  bottom: 40px;
  left: 16px;
  display: none;
}

@keyframes scroll-loop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media screen and (max-width:768px) {
  header {
    margin: 0;
    margin-bottom: 32px;
  }

  .mobile-menu-register-button,
  .mobile-menu-bottom-text {
    display: block;
  }

  .menu {
    display: none;
  }

  .role-image h1 {
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 100px;
  }

  .days-sticker {
    width: 100.27px;
    height: 119.32px;
    margin-bottom: 100px;
  }

  .top-bar {
    width: calc(100% - 2 * 16px);
    top: 48px;
    left: 16px;
    padding: 0;
  }
  
  .top-bar p:is(:nth-child(2)) {
    display: none;
  }
  
  .top-bar button {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
