

/*location*/
@import url('/styles/location/house.css');
@import url('/styles/location/location-text.css');
@import url('/styles/location/location.css');
@import url('/styles/location/stamp.css');

/*sponsors*/
@import url('/styles/sponsors/title&logos.css');
@import url('/styles/sponsors/sponsor.css');

@import url("../assets/fonts/NeueMachina/");
@import url("../assets/fonts/NeueMontreal/");

/* @font-face {
    font-family: PPNeueMachina-Light;
    src: url("../assets/fonts/NeueMachina/PPNeueMachina-Light.otf");
} */
@font-face {
    font-family: PPNeueMachina-Regular;
    src: url("../assets/fonts/NeueMachina/PPNeueMachina-Regular.otf");
}
@font-face {
    font-family: PPNeueMachina-UltraBold;
    src: url("../assets/fonts/NeueMachina/PPNeueMachina-Ultrabold.otf");
}
/* 
@font-face {
    font-family: NeueMontreal-Light;
    src: url("../assets/fonts/NeueMontreal/NeueMontreal-Light.otf");
}
@font-face {
    font-family: NeueMontreal-Medium;
    src: url("../assets/fonts/NeueMontreal/NeueMontreal-Medium.otf");
} */
@font-face {
    font-family: NeueMontreal-Regular;
    src: url("../assets/fonts/NeueMontreal/NeueMontreal-Regular.otf");
}
@font-face {
    font-family: NeueMontreal-Bold;
    src: url("../assets/fonts/NeueMontreal/NeueMontreal-Bold.otf");
}

*{
    margin: 0;
    padding: 0;
    background-color: #F5EDE1;
    box-sizing: border-box;
    z-index: -2;
}


.noise{
    width: 100%;
    height: 200%;
    position: fixed;
    background-color: transparent;
    background-image: url("../assets/images/other/noise.png"); 
    background-repeat: repeat-y; 
    opacity: 10%;
    z-index: -1;
}

body{
    position: relative;
    margin: 0;
    padding: 0;
}


.section-divider {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: transparent;
}

.divider-image,
.divider-noise,
.divider-color {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: transparent;
}

.divider-image {
    z-index: 1;
    opacity: 1;
    transform: rotate(180deg);
    transform-origin: center;
}

.divider-noise {
    z-index: 2;
    opacity: 20%;
}

.divider-color {
    position: absolute;
    z-index: 3;
    mix-blend-mode: overlay; 
}

.green-divider{
    background-color: #075f59 !important;
}

.white-divider{
    background-color: #F5EDE1;
}

.black-divider{
    background: #171615 !important;
}