@import url('header.css');
@import url('duck-section.css');

/*location*/
@import url('location/location.css');
@import url('location/stamp.css');
@import url('location/location-text.css');
@import url('location/house.css');

@font-face {
    font-family: PPNeueMachina-Light;
    src: url("../assets/fonts/NeueMachina/PPNeueMachina-Light.otf") format("truetype");
}
@font-face {
    font-family: PPNeueMachina-Regular;
    src: url("../assets/fonts/NeueMachina/PPNeueMachina-Regular.otf") format("truetype");
}
@font-face {
    font-family: PPNeueMachina-UltraBold;
    src: url("../assets/fonts/NeueMachina/PPNeueMachina-Ultrabold.otf") format("truetype");
}

@font-face {
    font-family: NeueMontreal-Light;
    src: url("../assets/fonts/NeueMontreal/NeueMontreal-Light.otf") format("truetype");
}
@font-face {
    font-family: NeueMontreal-Medium;
    src: url("../assets/fonts/NeueMontreal/NeueMontreal-Medium.otf") format("truetype");
}
@font-face {
    font-family: NeueMontreal-Regular;
    src: url("../assets/fonts/NeueMontreal/NeueMontreal-Regular.otf") format("truetype");
}
@font-face {
    font-family: NeueMontreal-Bold;
    src: url("../assets/fonts/NeueMontreal/NeueMontreal-Bold.otf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color: #F5EDE1;
    overflow-x: hidden;
}

.noise{
    width: 100%;
    height: 200%;
    position: absolute;
    background-color: transparent;
    opacity: 14%;
}

.section-divider {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: transparent;
}

.divider-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: transparent;
}

.divider-image {
    z-index: 1;
    opacity: 1;
    transform-origin: center;
}