.location-section{
    width: 1440px;
    height: 2947px;
    background-color: #075f59;
    top: 7482px;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.location-title-container{
    max-width: 1392px;
    height: 392px;
    top: 174px;
    left: 24px;
    background-color: #085F59;
    color: #EAEAEA;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-title{
    font-family: PPNeueMachina-Regular;
    font-weight: 500;
    font-size: 284.57px;
    line-height: 341.49px;
    initial-letter-align: -11.92px;
    background-color: #085F59;
}

.stamp{
    position: relative;
    width: 436.85px;
    height: 1184.55px;
    top: 651.82px;

    background-color: transparent;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.stamp-shape1, .stamp-shape2 {
    position: relative; 
    width: 100%;
    height: 50%;
}

.stamp-shape1{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vintage_picture{
    position: absolute;
    width: 85%;
    height: 90%;
    background: #0243431A;
    background-blend-mode: color;
    opacity: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.vintage_image {
    position: absolute; 
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.image1 {
    z-index: 1;
}

.image2 {
    z-index: 2; 
    width: 100%;
    height: 100%;
    opacity: 10%;
}

.stamp-shape2 {
}